body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    user-select: none;
}
#dogImage {
    width: 80%;
    cursor: pointer;
}
#status {
    margin-top: 20px;
    font-size: 18px;
}
.hidden {
    display: none;
}
input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    caret-color: white;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}
#decryptButton {
    outline: none;
    user-select: none;
}
#decryptButton:focus {
    outline: none;
}
#decryptButton:active {
    transform: none;
    background-color: white;
}
#dogImageContainer {
    display: none;
    width: 80%;
    margin: auto;
}
#outputImage {
    max-width: 100%;
    display: none;
}
